@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
@font-face {
  font-family: 'BoosterBold';
  src: url("../../assets/fonts/BoosterNextFY-Bold.eot");
  src: url("../../assets/fonts/BoosterNextFY-Bold") format("embedded-opentype"), url("../../assets/fonts/BoosterNextFY-Bold.woff") format("woff"), url("../../assets/fonts/BoosterNextFY-Bold.ttf") format("truetype"), url("../../assets/fonts/BoosterNextFY-Bold.") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterLight';
  src: url("../../assets/fonts/BoosterNextFY-Light.eot");
  src: url("../../assets/fonts/BoosterNextFY-Light") format("embedded-opentype"), url("../../assets/fonts/BoosterNextFY-Light.woff") format("woff"), url("../../assets/fonts/BoosterNextFY-Light.ttf") format("truetype"), url("../../assets/fonts/BoosterNextFY-Light.s") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoosterRegular';
  src: url("../../assets/fonts/BoosterNextFY-Regular.eot");
  src: url("../../assets/fonts/BoosterNextFY-Regular") format("embedded-opentype"), url("../../assets/fonts/BoosterNextFY-Regular.woff") format("woff"), url("../../assets/fonts/BoosterNextFY-Regular.ttf") format("truetype"), url("../../assets/fonts/BoosterNextFY-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 6, ../sass/_main.scss */
html {
  padding: 0px;
  margin: 0px;
}

/* line 11, ../sass/_main.scss */
body {
  background-color: #f8f8f8;
  font-family: "BoosterRegular";
  padding: 0px;
  margin: 0px;
  background: url(../../assets/images/noise.png);
  overflow-x: hidden;
}

/* line 20, ../sass/_main.scss */
h1 {
  color: #1072e7;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  word-spacing: 0.05em;
}

/* line 28, ../sass/_main.scss */
h2 {
  color: #828385;
  font-size: 36px;
}

/* line 33, ../sass/_main.scss */
h3 {
  color: #828385;
  font-size: 24px;
}

/* line 38, ../sass/_main.scss */
h4 {
  font-family: "BoosterBold";
  color: #646464;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-align: center;
}

/* line 46, ../sass/_main.scss */
p {
  color: #8f9295;
  font-size: 14px;
}

/* line 51, ../sass/_main.scss */
a, a:hover, a:active, a:visited {
  font-family: "BoosterBold";
  font-size: 14px;
  border: none;
  outline: 0;
}

/* line 58, ../sass/_main.scss */
.mobile {
  display: none;
}

/* line 62, ../sass/_main.scss */
.btn {
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

/*.row {
	margin: 0px;
	padding: 0px;
}*/
/* line 75, ../sass/_main.scss */
.ui-loading .ui-loader {
  display: block;
}

/* line 79, ../sass/_main.scss */
.ui-loader {
  display: none;
}

/* line 83, ../sass/_main.scss */
.mobile {
  display: none;
}

/* line 87, ../sass/_main.scss */
.is-red {
  color: #e7092c;
}

/* line 91, ../sass/_main.scss */
.is-blue {
  color: #1072e7;
}

/* line 95, ../sass/_main.scss */
.is-pink {
  color: #ee1a59;
}

/* line 99, ../sass/_main.scss */
.main-nav {
  text-align: center;
  background: #0b68d5 url(../../assets/images/noise.png) repeat-x;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  -webkit-backface-visibility: hidden;
}
/* line 108, ../sass/_main.scss */
.main-nav a {
  color: #e1e5e9;
  text-transform: uppercase;
  line-height: 58px;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
/* line 114, ../sass/_main.scss */
.main-nav a .is-blue {
  color: #4cb1ff;
}
/* line 118, ../sass/_main.scss */
.main-nav a:hover {
  text-decoration: none;
  color: #7ac0fc;
}
/* line 123, ../sass/_main.scss */
.main-nav a:before {
  content: "/";
  color: #247be4;
  margin: 10px;
}
/* line 130, ../sass/_main.scss */
.main-nav a:first-child:before {
  content: "";
  margin: 0px;
}

/* line 138, ../sass/_main.scss */
.headphones-container {
  width: 250px;
  height: 360px;
  position: absolute;
  top: 100px;
  right: 0;
}
/* line 145, ../sass/_main.scss */
.headphones-container .headphones {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/sprites_headphones.png) no-repeat;
}

/* line 152, ../sass/_main.scss */
#myCanvas {
  position: absolute;
  top: 0px;
  /*width: 90%;
  height: 100%;*/
  /*border: 1px solid red;*/
  overflow: hidden;
  /*position: fixed;*/
  z-index: -1;
}

/* line 163, ../sass/_main.scss */
#machine {
  position: absolute;
  width: 100%;
  top: 75px;
}
/* line 168, ../sass/_main.scss */
#machine .machine-container {
  width: 700px;
  height: 950px;
  /*background: url(../../assets/images/spire_angle_mask.png) no-repeat;*/
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -650px;
}
@media screen and (max-width: 992px) {
  /* line 168, ../sass/_main.scss */
  #machine .machine-container {
    margin-left: -550px;
  }
}
/* line 182, ../sass/_main.scss */
#machine .video-mask {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/mask.png) no-repeat;
  position: absolute;
}
/* line 189, ../sass/_main.scss */
#machine .ada {
  position: absolute;
  right: -130px;
  top: 730px;
  width: 300px;
  height: 100px;
  cursor: pointer;
  padding-left: 100px;
}
/* line 198, ../sass/_main.scss */
#machine .ada h4 {
  text-align: left;
  font-size: 16px;
  color: #1072e7;
  margin: 0px;
}
/* line 205, ../sass/_main.scss */
#machine .ada p {
  font-family: "BoosterRegular";
  color: #a6a8aa;
}
/* line 210, ../sass/_main.scss */
#machine .ada:after {
  content: "";
  width: 50px;
  height: 80px;
  background: url(../../assets/images/icons/ada-arrow.png) no-repeat;
  display: block;
  position: absolute;
  left: 50px;
  top: 25px;
}

/* line 223, ../sass/_main.scss */
#machine-video-container {
  width: 250px;
  height: 400px;
  position: absolute;
  top: 57px;
  left: 259px;
  display: none;
  background-color: #fff;
  /*border: 1px solid aqua;*/
}
/* line 233, ../sass/_main.scss */
#machine-video-container #machine-video {
  width: 250px;
  height: 400px;
}
/* line 238, ../sass/_main.scss */
#machine-video-container .vjs-control-bar {
  display: none !important;
}

/* line 243, ../sass/_main.scss */
#home {
  max-width: 1260px;
  margin: 255px auto 0px;
}
/* line 247, ../sass/_main.scss */
#home h1 {
  font-family: "BoosterLight";
  font-size: 66px;
  line-height: 0.95em;
  margin-top: 18px;
  letter-spacing: 0em;
}
/* line 255, ../sass/_main.scss */
#home h3 {
  margin: 39px 0 0 4px;
  letter-spacing: 0em;
  word-spacing: 0.1em;
}
/* line 261, ../sass/_main.scss */
#home p {
  font-family: "BoosterLight";
  max-width: 550px;
  margin: 7px 0 0 5px;
  line-height: 1.6em;
  font-size: 18px;
  letter-spacing: 0em;
  word-spacing: 0.03em;
}
/* line 270, ../sass/_main.scss */
#home p .r {
  font-size: 10px;
  vertical-align: top;
  line-height: 20px;
}
/* line 277, ../sass/_main.scss */
#home .logo {
  text-transform: none;
  font-size: 50px;
  color: #004b9a;
  line-height: 1em;
  letter-spacing: -0.02em;
  margin: 0 0 -2px 2px;
}
/* line 285, ../sass/_main.scss */
#home .logo .tm {
  font-family: "BoosterRegular";
  font-size: 20px;
  vertical-align: top;
  line-height: 30px;
}
@media screen and (max-width: 992px) {
  /* line 294, ../sass/_main.scss */
  #home h1 {
    font-size: 46px;
  }
}

/* line 301, ../sass/_main.scss */
#brand {
  width: 90%;
  max-width: 1260px;
  padding-bottom: 100px;
  margin: 400px auto 0px;
  position: relative;
}
/* line 308, ../sass/_main.scss */
#brand .heart-container {
  width: 218px;
  height: 180px;
  position: absolute;
  top: -80px;
  left: 50%;
  margin-left: -550px;
}
/* line 316, ../sass/_main.scss */
#brand .heart-container .heart {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/sprites_hearts_2.png) no-repeat;
}
/* line 323, ../sass/_main.scss */
#brand .brands-shots {
  text-align: center;
}
/* line 325, ../sass/_main.scss */
#brand .brands-shots h4 {
  font-size: 13px;
  text-transform: uppercase;
}
/* line 329, ../sass/_main.scss */
#brand .brands-shots h1 {
  margin-bottom: 0px;
}
/* line 332, ../sass/_main.scss */
#brand .brands-shots h3 {
  font-family: "BoosterLight";
  line-height: 1.2em;
  letter-spacing: 0.025em;
  word-spacing: 0.1em;
  margin: 7px 0 36px;
}
/* line 341, ../sass/_main.scss */
#brand .brands-shots .cherry .brand-fruit {
  width: 120px;
  height: 140px;
  background-image: url(../../assets/images/brands/fruits/sprites_cherry.png);
  /*top: px;*/
}
/* line 347, ../sass/_main.scss */
#brand .brands-shots .cherry h4 {
  color: #ee1a59;
}
/* line 352, ../sass/_main.scss */
#brand .brands-shots .lemon .brand-fruit {
  width: 120px;
  height: 140px;
  background-image: url(../../assets/images/brands/fruits/sprites_lemon.png);
  top: 10px;
}
/* line 358, ../sass/_main.scss */
#brand .brands-shots .lemon h4 {
  color: rgba(251, 209, 54, 0.9);
}
/* line 363, ../sass/_main.scss */
#brand .brands-shots .lime .brand-fruit {
  width: 120px;
  height: 140px;
  background-image: url(../../assets/images/brands/fruits/sprites_lime.png);
  bottom: 20px;
}
/* line 369, ../sass/_main.scss */
#brand .brands-shots .lime h4 {
  color: rgba(160, 220, 81, 0.9);
}
/* line 374, ../sass/_main.scss */
#brand .brands-shots .raspberry .brand-fruit {
  width: 120px;
  height: 140px;
  background-image: url(../../assets/images/brands/fruits/sprites_raspberry.png);
  bottom: 20px;
}
/* line 380, ../sass/_main.scss */
#brand .brands-shots .raspberry h4 {
  color: #e43f72;
}
/* line 385, ../sass/_main.scss */
#brand .brands-shots .strawberry .brand-fruit {
  width: 120px;
  height: 140px;
  background-image: url(../../assets/images/brands/fruits/sprites_strawberry.png);
  top: 5px;
}
/* line 391, ../sass/_main.scss */
#brand .brands-shots .strawberry h4 {
  color: rgba(234, 22, 25, 0.9);
}
/* line 396, ../sass/_main.scss */
#brand .brands-shots .vanilla .brand-fruit {
  width: 152px;
  height: 106px;
  background-image: url(../../assets/images/brands/fruits/sprites_vanilla_2.png);
  bottom: 30px;
}
/* line 402, ../sass/_main.scss */
#brand .brands-shots .vanilla h4 {
  color: rgba(230, 214, 86, 0.9);
}
/* line 407, ../sass/_main.scss */
#brand .brands-shots .brand-fruit-container {
  height: 140px;
}
/* line 411, ../sass/_main.scss */
#brand .brands-shots .brand-fruit-container .brand-fruit {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-size: 100% auto;
}

/* line 422, ../sass/_main.scss */
#mixes {
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
}
/* line 427, ../sass/_main.scss */
#mixes h1 {
  text-align: center;
}
/* line 431, ../sass/_main.scss */
#mixes .mixes-container {
  padding: 75px 0px 80px;
  max-width: 1300px;
  margin: 0px auto;
}
/* line 437, ../sass/_main.scss */
#mixes .mixes-container p {
  color: #929394;
  text-align: center;
}
/* line 442, ../sass/_main.scss */
#mixes .mixes-container .title-container, #mixes .mixes-container .legal-container {
  width: 90%;
  margin: 0px auto;
}
/* line 447, ../sass/_main.scss */
#mixes .mixes-container .mixes-container {
  width: 90%;
  margin: 0px auto;
  padding: 30px 0px 60px;
}
/* line 452, ../sass/_main.scss */
#mixes .mixes-container .mixes-container .brand-img {
  height: 300px;
  text-align: center;
  position: relative;
}
/* line 457, ../sass/_main.scss */
#mixes .mixes-container .mixes-container .brand-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 472, ../sass/_main.scss */
#gallery #spire-carousel {
  position: relative;
}
/* line 474, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-wrapper {
  position: relative;
  height: 747px;
  overflow: hidden;
  width: 100%;
}
/* line 480, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-wrapper .spire-carousel-inner {
  height: 100%;
  width: 500%;
  position: absolute;
  left: 0px;
}
/* line 486, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-wrapper .spire-carousel-inner .item {
  height: 100%;
  float: left;
}
/* line 490, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-wrapper .spire-carousel-inner .item img {
  width: 100%;
}
/* line 497, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-left, #gallery #spire-carousel .spire-carousel-right {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 50px;
}
/* line 503, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-left .gallery-arrow, #gallery #spire-carousel .spire-carousel-right .gallery-arrow {
  height: 23px;
  width: 14px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../../assets/images/icons/gallery-left.png);
  /*display: none;*/
}
/* line 517, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-right {
  right: 0px;
}
/* line 519, ../sass/_main.scss */
#gallery #spire-carousel .spire-carousel-right .gallery-arrow {
  background-image: url(../../assets/images/icons/gallery-right.png);
}

/* line 526, ../sass/_main.scss */
#find {
  position: relative;
}

/* line 530, ../sass/_main.scss */
.find-listHandle {
  position: absolute;
  width: 32px;
  height: 60px;
  top: 290px;
  left: 345px;
  cursor: pointer;
}

/* line 539, ../sass/_main.scss */
.find-listContainer {
  font-family: BoosterBold;
  height: 640px;
  position: absolute;
  top: 284px;
  left: 20px;
  -moz-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@media screen and (max-width: 1200px) {
  /* line 539, ../sass/_main.scss */
  .find-listContainer {
    top: 261px;
  }
}
@media screen and (max-width: 992px) {
  /* line 539, ../sass/_main.scss */
  .find-listContainer {
    top: 220px;
  }
}
/* line 556, ../sass/_main.scss */
.find-listContainer.is-hidden {
  -moz-transform: translateX(-365px);
  -ms-transform: translateX(-365px);
  -webkit-transform: translateX(-365px);
  transform: translateX(-365px);
  -moz-transform: translate3d(-365px, 0, 0);
  -ms-transform: translate3d(-365px, 0, 0);
  -webkit-transform: translate3d(-365px, 0, 0);
  transform: translate3d(-365px, 0, 0);
}
/* line 561, ../sass/_main.scss */
.find-listContainer:before {
  content: "";
  position: absolute;
  width: 408px;
  height: 672px;
  background-image: url(../../assets/images/map/panelShadow.png);
  top: 0;
  left: 0;
}

/* line 572, ../sass/_main.scss */
.find-list {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 579, ../sass/_main.scss */
.find-list:before, .find-list:after {
  content: "";
  height: 20px;
  position: absolute;
  width: 328px;
  left: 0;
  z-index: 5;
  background-color: #fff;
}
/* line 589, ../sass/_main.scss */
.find-list:before {
  bottom: 0;
}
/* line 593, ../sass/_main.scss */
.find-list:after {
  top: 0;
}

/* line 598, ../sass/_main.scss */
.find-list-states, .find-list-locations {
  font-family: BoosterBold;
  height: 640px;
  overflow-y: scroll;
  padding: 16px 0;
  background-color: #fff;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 607, ../sass/_main.scss */
.is-location .find-list-states, .is-location .find-list-locations {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 613, ../sass/_main.scss */
.find-list-locations {
  position: absolute;
  top: 0;
  left: 100%;
}

/* line 619, ../sass/_main.scss */
.find-title {
  text-align: center;
  padding: 36px 0 35px;
  height: 204px;
}
/* line 624, ../sass/_main.scss */
.find-title h1 {
  margin-top: 0;
}
/* line 628, ../sass/_main.scss */
.find-title h3 {
  font-family: "BoosterLight";
  margin-bottom: 0;
}

/* line 634, ../sass/_main.scss */
.find-list-title {
  font-family: BoosterRegular;
  font-size: 11px;
  padding: 27px 20px 5px;
  color: #424242;
  position: relative;
  background-color: #fff;
  width: 320px;
  text-transform: uppercase;
}

/* line 645, ../sass/_main.scss */
.find-list-state {
  cursor: pointer;
}
/* line 648, ../sass/_main.scss */
.find-list-state:first-child {
  margin-top: 30px;
}
/* line 654, ../sass/_main.scss */
.find-list-state.is-active .find-list-count {
  display: none;
}

/* line 661, ../sass/_main.scss */
.find-list-stateLocations {
  counter-reset: location-counter;
  overflow: hidden;
  display: none;
}

/* line 667, ../sass/_main.scss */
.find-list-location {
  font-family: BoosterRegular;
  position: relative;
  cursor: pointer;
}
/* line 673, ../sass/_main.scss */
.find-list-location:before {
  content: counter(location-counter);
  counter-increment: location-counter;
  width: 21px;
  height: 21px;
  border-radius: 21px;
  text-align: center;
  font-size: 11px;
  line-height: 21px;
  color: #fff;
  background-color: #1072e7;
  top: 50%;
  margin-top: -12px;
  position: absolute;
}
/* line 689, ../sass/_main.scss */
.find-list-location.is-active {
  cursor: default;
  background-color: #1072e7;
  border-bottom-color: #0b67d4;
  margin: 0;
  width: 100%;
}
/* line 696, ../sass/_main.scss */
.find-list-location.is-active:before {
  background-color: #0d5bb9;
  left: 20px;
  margin-top: -37px;
}
/* line 702, ../sass/_main.scss */
.find-list-location.is-active .find-list-date {
  color: #fff;
  right: 20px;
}
/* line 707, ../sass/_main.scss */
.find-list-location.is-active .find-list-copy {
  padding-left: 20px;
}
/* line 711, ../sass/_main.scss */
.find-list-location.is-active .find-list-brand {
  color: #cee4fd;
}
/* line 715, ../sass/_main.scss */
.find-list-location.is-active .find-list-address {
  color: #56a0f7;
}
/* line 719, ../sass/_main.scss */
.find-list-location.is-active .find-list-directions {
  display: block;
}

/* line 725, ../sass/_main.scss */
.find-list-directions {
  line-height: 32px;
  text-align: right;
  text-transform: uppercase;
  color: #56a0f7;
  font-size: 13px;
  cursor: pointer;
  display: none;
  background-color: #0d5bb9;
}
/* line 735, ../sass/_main.scss */
.find-list-directions:hover {
  color: #56a0f7;
  text-decoration: none;
  font-size: 13px;
}
/* line 741, ../sass/_main.scss */
.find-list-directions:after {
  content: "";
  width: 15px;
  height: 11px;
  display: inline-block;
  background-image: url(../../assets/images/icons/directions-arrow.png);
  margin: 0px 20px 0 8px;
  position: relative;
  top: 1px;
}

/* line 753, ../sass/_main.scss */
.find-list-count {
  width: 27px;
  height: 27px;
  display: inline-block;
  border-radius: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  color: #fff;
  background-color: #1072e7;
  position: relative;
  top: -2px;
  margin-right: 14px;
}

/* line 768, ../sass/_main.scss */
.find-list-location-title, .find-list-label, .find-list-location {
  position: relative;
  width: 288px;
  border-bottom: solid 1px #e8e8e8;
  margin: 0 20px;
}

/* line 776, ../sass/_main.scss */
.find-list-location-title, .find-list-label {
  color: #444;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 783, ../sass/_main.scss */
.find-list-location-title:after, .find-list-label:after, .find-list-mobileLabel:after {
  content: "";
  position: absolute;
  right: 12px;
  top: 40px;
  width: 9px;
  height: 14px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOXB4IiBoZWlnaHQ9IjE0cHgiPjxwYXRoIGZpbGw9IiNBMUEwQTAiIGQ9Ik0yLDE0bDctN0wyLDBMMCwybDUsNWwtNSw1TDIsMTR6Ii8+PC9zdmc+DQo=');
}

/* line 794, ../sass/_main.scss */
.find-list-label {
  line-height: 89px;
  height: 89px;
}

/* line 800, ../sass/_main.scss */
.find-list-location-title {
  cursor: pointer;
  border: none;
  padding: 14px 0;
  margin-bottom: -10px;
  position: relative;
  padding-left: 34px;
}
/* line 810, ../sass/_main.scss */
.find-list-location-title:after {
  top: 20px;
  right: initial;
  left: 0;
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 818, ../sass/_main.scss */
.find-list-copy {
  margin: 28px 0 28px 35px;
  width: 230px;
  display: inline-block;
}

/* line 824, ../sass/_main.scss */
.find-list-brand {
  font-size: 20px;
  padding-right: 65px;
  color: #444;
  text-transform: uppercase;
  line-height: 20px;
}

/* line 832, ../sass/_main.scss */
.find-list-date {
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 12px;
  color: #1072e7;
}

/* line 840, ../sass/_main.scss */
.find-list-address {
  font-size: 13px;
  color: #a2a2a2;
  margin-top: 3px;
}

/* line 846, ../sass/_main.scss */
#map-canvas {
  height: 800px;
}
@media screen and (max-width: 1200px) {
  /* line 846, ../sass/_main.scss */
  #map-canvas {
    height: 754px;
  }
}
@media screen and (max-width: 992px) {
  /* line 846, ../sass/_main.scss */
  #map-canvas {
    height: 672px;
  }
}
/* line 856, ../sass/_main.scss */
#map-canvas .map-controls {
  padding: 20px 0px;
}
/* line 859, ../sass/_main.scss */
#map-canvas .map-control-zoom {
  width: 60px;
  height: 60px;
  margin: 0px;
  cursor: pointer;
}
/* line 865, ../sass/_main.scss */
#map-canvas .map-control-zoom.map-control-zoom--in {
  background: url(../../assets/images/map/zoom-plus.png) no-repeat;
}
/* line 869, ../sass/_main.scss */
#map-canvas .map-control-zoom.map-control-zoom--out {
  background: url(../../assets/images/map/zoom-minus.png) no-repeat;
  margin-top: -14px;
}

/* line 876, ../sass/_main.scss */
#footer {
  text-align: center;
  padding: 40px 0;
}
/* line 880, ../sass/_main.scss */
#footer .footer-links {
  font-family: "BoosterBold";
  font-size: 13px;
  margin: 0px auto;
}
/* line 885, ../sass/_main.scss */
#footer .footer-links h4 {
  font-family: "BoosterRegular";
}
/* line 889, ../sass/_main.scss */
#footer .footer-links a {
  display: inline-block;
  color: #1072e7;
  text-decoration: none;
  margin: 0px 14px;
}
/* line 895, ../sass/_main.scss */
#footer .footer-links a:hover {
  text-decoration: underline;
}
/* line 900, ../sass/_main.scss */
#footer .footer-links .spacer {
  display: inline-block;
  color: #dcdcdc;
}

/* line 908, ../sass/_main.scss */
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #f8f8f8 url(../../assets/images/noise.png);
  z-index: 20;
}

/* line 4, ../sass/_markers.scss */
#map-canvas .marker-info {
  position: relative;
  width: 240px;
  padding: 15px 0 0 11px;
}
/* line 9, ../sass/_markers.scss */
#map-canvas .marker-info .marker-info-image {
  position: absolute;
  background: url(../../assets/images/icons/retailers.png) no-repeat;
  left: 9px;
  top: 21px;
}
/* line 16, ../sass/_markers.scss */
#map-canvas .marker-info .marker-info-text {
  display: block;
  padding-top: 2px;
  position: relative;
  text-transform: uppercase;
  min-height: 74px;
}
/* line 24, ../sass/_markers.scss */
#map-canvas .marker-info .marker-info-text h3 {
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  font-weight: normal;
}
/* line 29, ../sass/_markers.scss */
#map-canvas .marker-info .marker-info-text h4 {
  font-size: 13px;
  text-align: left;
}
/* line 35, ../sass/_markers.scss */
#map-canvas .marker-info .link-holder {
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
/* line 39, ../sass/_markers.scss */
#map-canvas .marker-info .link-holder a {
  position: relative;
  display: block;
  color: #1072e7;
  padding: 11px 0 3px;
}
/* line 45, ../sass/_markers.scss */
#map-canvas .marker-info .link-holder a:after {
  content: "";
  width: 15px;
  height: 11px;
  display: inline-block;
  background: url(../../assets/images/icons/marker-info-arrow.jpg) no-repeat left;
  position: relative;
  left: 2px;
  top: 2px;
}
/* line 56, ../sass/_markers.scss */
#map-canvas .marker-info .link-holder a:hover {
  text-decoration: none;
}
/* line 64, ../sass/_markers.scss */
#map-canvas .marker-info--bombers .marker-info-image {
  width: 57px;
  height: 46px;
  background-position: 0 0;
}
/* line 69, ../sass/_markers.scss */
#map-canvas .marker-info--bombers .marker-info-text {
  padding-left: 67px;
}
/* line 74, ../sass/_markers.scss */
#map-canvas .marker-info--hotharry {
  width: 275px;
}
/* line 77, ../sass/_markers.scss */
#map-canvas .marker-info--hotharry .marker-info-image {
  width: 85px;
  height: 53px;
  top: 10px;
  background-position: 0 -60px;
}
/* line 83, ../sass/_markers.scss */
#map-canvas .marker-info--hotharry .marker-info-text {
  padding-left: 110px;
}
/* line 88, ../sass/_markers.scss */
#map-canvas .marker-info--skidmore {
  width: 300px;
}
/* line 91, ../sass/_markers.scss */
#map-canvas .marker-info--skidmore .marker-info-image {
  width: 92px;
  height: 22px;
  top: 22px;
  background-position: 0 -120px;
}
/* line 97, ../sass/_markers.scss */
#map-canvas .marker-info--skidmore .marker-info-text {
  padding-left: 116px;
}
/* line 103, ../sass/_markers.scss */
#map-canvas .marker-info--wolfs .marker-info-image {
  width: 59px;
  height: 38px;
  background-position: 0 -180px;
}
/* line 108, ../sass/_markers.scss */
#map-canvas .marker-info--wolfs .marker-info-text {
  padding-left: 77px;
}
/* line 114, ../sass/_markers.scss */
#map-canvas .marker-info--juniors .marker-info-image {
  width: 44px;
  height: 51px;
  left: 19px;
  background-position: 0 -240px;
}
/* line 120, ../sass/_markers.scss */
#map-canvas .marker-info--juniors .marker-info-text {
  padding-left: 67px;
}
/* line 125, ../sass/_markers.scss */
#map-canvas .marker-info--paesans {
  width: 275px;
}
/* line 128, ../sass/_markers.scss */
#map-canvas .marker-info--paesans .marker-info-image {
  width: 95px;
  height: 31px;
  background-position: 0 -300px;
}
/* line 133, ../sass/_markers.scss */
#map-canvas .marker-info--paesans .marker-info-text {
  padding-left: 110px;
}
/* line 139, ../sass/_markers.scss */
#map-canvas .marker-info--csr .marker-info-image {
  width: 44px;
  height: 50px;
  background-position: 0 -360px;
}
/* line 144, ../sass/_markers.scss */
#map-canvas .marker-info--csr .marker-info-text {
  padding-left: 67px;
}
/* line 150, ../sass/_markers.scss */
#map-canvas .marker-info--moes .marker-info-image {
  width: 54px;
  height: 41px;
  background-position: 0 -420px;
}
/* line 155, ../sass/_markers.scss */
#map-canvas .marker-info--moes .marker-info-text {
  padding-left: 67px;
}
/* line 161, ../sass/_markers.scss */
#map-canvas .marker-info--src .marker-info-image {
  width: 44px;
  height: 55px;
  background-position: 0 -360px;
}
/* line 166, ../sass/_markers.scss */
#map-canvas .marker-info--src .marker-info-text {
  padding-left: 67px;
}
/* line 171, ../sass/_markers.scss */
#map-canvas .marker-info--siena {
  width: 300px;
}
/* line 174, ../sass/_markers.scss */
#map-canvas .marker-info--siena .marker-info-image {
  width: 82px;
  height: 27px;
  background-position: 0 -480px;
}
/* line 179, ../sass/_markers.scss */
#map-canvas .marker-info--siena .marker-info-text {
  padding-left: 110px;
}
/* line 184, ../sass/_markers.scss */
#map-canvas .marker-info--marcus {
  width: 300px;
}
/* line 187, ../sass/_markers.scss */
#map-canvas .marker-info--marcus .marker-info-image {
  width: 52px;
  height: 52px;
  background-position: 0 -540px;
}
/* line 192, ../sass/_markers.scss */
#map-canvas .marker-info--marcus .marker-info-text {
  padding-left: 67px;
}
/* line 197, ../sass/_markers.scss */
#map-canvas .marker-info--maggies {
  width: 275px;
}
/* line 200, ../sass/_markers.scss */
#map-canvas .marker-info--maggies .marker-info-image {
  width: 90px;
  height: 27px;
  background-position: 0 -600px;
}
/* line 205, ../sass/_markers.scss */
#map-canvas .marker-info--maggies .marker-info-text {
  padding-left: 110px;
}
/* line 211, ../sass/_markers.scss */
#map-canvas .marker-info--pizzahut .marker-info-image {
  width: 49px;
  height: 49px;
  background-position: 0 -660px;
}
/* line 216, ../sass/_markers.scss */
#map-canvas .marker-info--pizzahut .marker-info-text {
  padding-left: 67px;
}
/* line 221, ../sass/_markers.scss */
#map-canvas .marker-info--bww {
  width: 310px;
}
/* line 224, ../sass/_markers.scss */
#map-canvas .marker-info--bww .marker-info-image {
  width: 90px;
  height: 50px;
  background-position: 0 -720px;
}
/* line 229, ../sass/_markers.scss */
#map-canvas .marker-info--bww .marker-info-text {
  padding-left: 110px;
}
/* line 234, ../sass/_markers.scss */
#map-canvas .marker-info--garbanzo {
  width: 310px;
}
/* line 237, ../sass/_markers.scss */
#map-canvas .marker-info--garbanzo .marker-info-image {
  width: 90px;
  height: 26px;
  background-position: 0 -780px;
  top: 22px;
}
/* line 243, ../sass/_markers.scss */
#map-canvas .marker-info--garbanzo .marker-info-text {
  padding-left: 110px;
}
/* line 249, ../sass/_markers.scss */
#map-canvas .marker-info--kfc .marker-info-image {
  width: 46px;
  height: 40px;
  top: 17px;
  background-position: 0 -840px;
}
/* line 255, ../sass/_markers.scss */
#map-canvas .marker-info--kfc .marker-info-text {
  padding-left: 67px;
}
/* line 261, ../sass/_markers.scss */
#map-canvas .marker-info--tacobell .marker-info-image {
  width: 48px;
  height: 62px;
  background-position: 0 -900px;
  top: 16px;
}
/* line 267, ../sass/_markers.scss */
#map-canvas .marker-info--tacobell .marker-info-text {
  padding-left: 67px;
}
/* line 272, ../sass/_markers.scss */
#map-canvas .marker-info--famousdave {
  width: 310px;
}
/* line 275, ../sass/_markers.scss */
#map-canvas .marker-info--famousdave .marker-info-image {
  width: 95px;
  height: 30px;
  background-position: 0 -960px;
  top: 16px;
}
/* line 281, ../sass/_markers.scss */
#map-canvas .marker-info--famousdave .marker-info-text {
  padding-left: 110px;
}
/* line 286, ../sass/_markers.scss */
#map-canvas .marker-info--pandaexpress {
  width: 280px;
}
/* line 289, ../sass/_markers.scss */
#map-canvas .marker-info--pandaexpress .marker-info-image {
  width: 50px;
  height: 50px;
  background-position: 0 -990px;
  top: 16px;
}
/* line 295, ../sass/_markers.scss */
#map-canvas .marker-info--pandaexpress .marker-info-text {
  padding-left: 60px;
}
/* line 300, ../sass/_markers.scss */
#map-canvas .marker-info--subwaycanada {
  width: 325px;
}
/* line 303, ../sass/_markers.scss */
#map-canvas .marker-info--subwaycanada .marker-info-image {
  width: 95px;
  height: 28px;
  background-position: 0 -1040px;
  top: 12px;
}
/* line 309, ../sass/_markers.scss */
#map-canvas .marker-info--subwaycanada .marker-info-text {
  padding-left: 105px;
}
/* line 314, ../sass/_markers.scss */
#map-canvas .marker-info--800degrees {
  width: 280px;
}
/* line 317, ../sass/_markers.scss */
#map-canvas .marker-info--800degrees .marker-info-image {
  width: 54px;
  height: 46px;
  background-position: 0 -1075px;
  top: 20px;
}
/* line 323, ../sass/_markers.scss */
#map-canvas .marker-info--800degrees .marker-info-text {
  padding-left: 70px;
}
/* line 328, ../sass/_markers.scss */
#map-canvas .marker-info--generic {
  width: 280px;
}
/* line 331, ../sass/_markers.scss */
#map-canvas .marker-info--generic .marker-info-image {
  width: 42px;
  height: 42px;
  background-position: 0 -1123px;
  top: 20px;
}
/* line 337, ../sass/_markers.scss */
#map-canvas .marker-info--generic .marker-info-text {
  padding-left: 70px;
}
/* line 342, ../sass/_markers.scss */
#map-canvas .marker-info--salsagrille {
  width: 280px;
}
/* line 345, ../sass/_markers.scss */
#map-canvas .marker-info--salsagrille .marker-info-image {
  width: 49px;
  height: 49px;
  background-position: 0 -1164px;
  top: 20px;
}
/* line 351, ../sass/_markers.scss */
#map-canvas .marker-info--salsagrille .marker-info-text {
  padding-left: 70px;
}
/* line 355, ../sass/_markers.scss */
#map-canvas .marker-info--tj {
  width: 280px;
}
/* line 358, ../sass/_markers.scss */
#map-canvas .marker-info--tj .marker-info-image {
  width: 52px;
  height: 53px;
  background-position: 0 -1215px;
  top: 14px;
}
/* line 364, ../sass/_markers.scss */
#map-canvas .marker-info--tj .marker-info-text {
  padding-left: 60px;
}
/* line 368, ../sass/_markers.scss */
#map-canvas .marker-info--la-piazza {
  width: 280px;
}
/* line 371, ../sass/_markers.scss */
#map-canvas .marker-info--la-piazza .marker-info-image {
  width: 69px;
  height: 33px;
  background-position: 0 -1270px;
  top: 14px;
}
/* line 377, ../sass/_markers.scss */
#map-canvas .marker-info--la-piazza .marker-info-text {
  padding-left: 76px;
}
/* line 381, ../sass/_markers.scss */
#map-canvas .marker-info--arbys {
  width: 280px;
}
/* line 384, ../sass/_markers.scss */
#map-canvas .marker-info--arbys .marker-info-image {
  width: 62px;
  height: 48px;
  background-position: 0 -1304px;
  top: 14px;
}
/* line 390, ../sass/_markers.scss */
#map-canvas .marker-info--arbys .marker-info-text {
  padding-left: 68px;
}

/* line 1, ../sass/_terms.scss */
.legal__wrapper {
  text-align: left;
  background-color: #fff;
  padding: 40px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 11;
  display: none;
}
/* line 11, ../sass/_terms.scss */
.legal__wrapper h1 {
  font-family: "BoosterLight";
  text-align: center;
  font-weight: normal;
  font-size: 68px;
  margin-bottom: 100px;
}
/* line 19, ../sass/_terms.scss */
.legal__wrapper h4 {
  text-align: left;
  font-size: 17px;
  color: #181818;
}
/* line 25, ../sass/_terms.scss */
.legal__wrapper p {
  color: #424040;
  font-size: 13px;
}
/* line 30, ../sass/_terms.scss */
.legal__wrapper a {
  color: #1072e7;
}
/* line 34, ../sass/_terms.scss */
.legal__wrapper .legal__close {
  background: url(../../assets/images/icons/terms-close.png) 100%;
  width: 97px;
  height: 97px;
  margin: 0px auto 60px;
  display: block;
  cursor: pointer;
}
/* line 43, ../sass/_terms.scss */
.legal__wrapper .legal__header {
  font-family: "BoosterBold";
  font-size: 13px;
  margin: 0px auto;
  text-align: center;
}
/* line 49, ../sass/_terms.scss */
.legal__wrapper .legal__header a {
  display: inline-block;
  color: #181818;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 14px;
}
/* line 56, ../sass/_terms.scss */
.legal__wrapper .legal__header a:hover {
  color: #1072e7;
}
/* line 60, ../sass/_terms.scss */
.legal__wrapper .legal__header a.active {
  color: #a5a4a4;
}
/* line 65, ../sass/_terms.scss */
.legal__wrapper .legal__header .spacer {
  display: inline-block;
  color: #dcdcdc;
}
/* line 72, ../sass/_terms.scss */
.legal__wrapper .legal__body {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
/* line 77, ../sass/_terms.scss */
.legal__wrapper .legal__body .legal__intro {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 0px 25px;
}
/* line 81, ../sass/_terms.scss */
.legal__wrapper .legal__body .legal__intro p {
  color: #818181;
  font-size: 15px;
}
/* line 87, ../sass/_terms.scss */
.legal__wrapper .legal__body .legal__content {
  padding-top: 30px;
}
/* line 91, ../sass/_terms.scss */
.legal__wrapper .legal__body ul {
  list-style-type: none;
}
/* line 95, ../sass/_terms.scss */
.legal__wrapper .legal__body b.c-1 {
  width: 20px;
  height: 21px;
  background: url(../../assets/images/icons/terms-number-bg.png) no-repeat center;
  line-height: 21px;
  padding: 5px 8px 5px 9px;
  color: #fff;
  font-family: "BoosterBold";
  font-size: 11px;
  text-align: center;
  letter-spacing: -0.05em;
  margin-right: 5px;
}

/* line 1, ../sass/_mobile.scss */
.find-listMobile {
  padding: 0 30px;
  position: relative;
  display: none;
  background-color: #fff;
}

/* line 8, ../sass/_mobile.scss */
.find-subTitle--mobile {
  display: none;
}

/* line 12, ../sass/_mobile.scss */
.find-list-mobileStateContainer {
  height: 50px;
  border-bottom: 1px solid #f4f4f4;
  overflow: hidden;
  padding: 0 0 10px 45px;
  -moz-transition: height 300ms ease-out;
  -o-transition: height 300ms ease-out;
  -webkit-transition: height 300ms ease-out;
  transition: height 300ms ease-out;
}

/* line 20, ../sass/_mobile.scss */
.find-list-mobileLabel {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-family: BoosterBold;
  color: #444;
  text-transform: uppercase;
  margin-left: -38px;
  margin-bottom: -10px;
  cursor: pointer;
  position: relative;
}
/* line 33, ../sass/_mobile.scss */
.find-list-mobileLabel:after {
  width: 7px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 20px;
  right: 2px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 44, ../sass/_mobile.scss */
.find-list-mobileLabel.is-open:after {
  -moz-transform: rotate(90deg) scaleX(-1);
  -ms-transform: rotate(90deg) scaleX(-1);
  -webkit-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
}
/* line 50, ../sass/_mobile.scss */
.find-list-mobileLabel .find-list-count {
  height: 23px;
  width: 23px;
  line-height: 23px;
  font-size: 11px;
}

/* line 58, ../sass/_mobile.scss */
.find-list-mobileBrand {
  font-size: 11px;
  color: #a2a2a2;
  text-transform: uppercase;
  margin: 10px 0 5px;
}

/* line 65, ../sass/_mobile.scss */
.find-list-mobileAddress {
  font-size: 11px;
  color: #6a6c6e;
  margin-bottom: -5px;
}

/* line 71, ../sass/_mobile.scss */
.find-list-mobileDate {
  color: #a2a2a2;
  font-size: 9px;
  display: inline-block;
  margin-bottom: 5px;
}
/* line 78, ../sass/_mobile.scss */
.find-list-mobileDate:after {
  content: "ΓÇó";
  margin: 0 4px;
}

/* line 84, ../sass/_mobile.scss */
.find-list-mobileDirections {
  font-size: 9px;
  display: inline-block;
}
/* line 88, ../sass/_mobile.scss */
.find-list-mobileDirections:hover {
  font-size: 9px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  /* line 97, ../sass/_mobile.scss */
  body {
    background-image: none;
    background-color: #f7f7f7;
  }

  /* line 101, ../sass/_mobile.scss */
  #main-wrapper {
    /*max-width: 480px;
    margin: 0px auto;
    display: block;
    overflow: hidden;*/
  }

  /* line 107, ../sass/_mobile.scss */
  .mobile {
    display: block;
  }

  /* line 111, ../sass/_mobile.scss */
  h1 {
    font-size: 25px;
  }

  /* line 115, ../sass/_mobile.scss */
  h3 {
    font-size: 13px;
  }

  /* line 119, ../sass/_mobile.scss */
  p {
    font-size: 8px;
  }

  /* line 123, ../sass/_mobile.scss */
  .headphones-container, .heart-container {
    display: none;
  }

  /* line 126, ../sass/_mobile.scss */
  #myCanvas {
    display: none;
  }

  /* line 129, ../sass/_mobile.scss */
  #machine {
    display: none;
  }

  /* line 132, ../sass/_mobile.scss */
  #machine-mobile {
    position: relative;
    width: 100%;
    height: 572px;
    top: 20px;
    left: 0px;
    margin-left: 0px;
    overflow: hidden;
  }
  /* line 141, ../sass/_mobile.scss */
  #machine-mobile #machine-container-mobile {
    width: 420px;
    height: 100%;
    position: relative;
    left: 50%;
    margin-left: -210px;
  }
  /* line 149, ../sass/_mobile.scss */
  #machine-mobile #machine-container-mobile .machine-container {
    width: 100%;
    height: 100%;
    /*border: 1px solid blue;*/
    background: url(../../assets/images/PepsiSpire_Mobile_Still.jpg) no-repeat center;
    background-size: contain;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }

  /* line 164, ../sass/_mobile.scss */
  .main-nav {
    text-align: left;
    background: #0b68d5 url(../../assets/images/noise.png) repeat-x;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    padding: 0px;
  }
  /* line 173, ../sass/_mobile.scss */
  .main-nav .nav-container {
    padding: 15px;
    display: none;
  }
  /* line 178, ../sass/_mobile.scss */
  .main-nav a {
    line-height: 30px;
    font-size: 11px;
  }
  /* line 182, ../sass/_mobile.scss */
  .main-nav a .is-blue {
    color: #4cb1ff;
  }
  /* line 186, ../sass/_mobile.scss */
  .main-nav a:hover {
    text-decoration: none;
  }
  /* line 190, ../sass/_mobile.scss */
  .main-nav a:before {
    content: "/";
    color: #247be4;
    margin: 5px;
  }
  /* line 197, ../sass/_mobile.scss */
  .main-nav a:first-child:before, .main-nav a.not:before {
    content: "";
    margin: 0px;
  }
  /* line 204, ../sass/_mobile.scss */
  .main-nav .open-main-nav {
    width: 100%;
    background: #1061c0 url(../../assets/images/noise.png) repeat-x;
    padding: 12px 15px;
  }
  /* line 209, ../sass/_mobile.scss */
  .main-nav .open-main-nav a {
    display: inline-block;
    width: 100%;
    padding-left: 16px;
    position: relative;
    font-size: 13px;
  }
  /* line 216, ../sass/_mobile.scss */
  .main-nav .open-main-nav a:before {
    content: "";
    display: block;
    width: 10px;
    height: 11px;
    background: url(../../assets/images/icons/menu-down-arrow.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0px;
    top: 10px;
  }
  /* line 231, ../sass/_mobile.scss */
  .main-nav .close-main-nav {
    width: 100%;
    /*height: 50px;*/
    background: #1061c0 url(../../assets/images/noise.png) repeat-x;
    padding: 12px 15px;
    display: none;
  }
  /* line 238, ../sass/_mobile.scss */
  .main-nav .close-main-nav a {
    display: inline-block;
    width: 100%;
    padding-left: 16px;
    position: relative;
    font-size: 13px;
  }
  /* line 245, ../sass/_mobile.scss */
  .main-nav .close-main-nav a:before {
    content: "";
    display: block;
    width: 10px;
    height: 11px;
    background: url(../../assets/images/icons/menu-up-arrow.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0px;
    top: 10px;
  }

  /* line 260, ../sass/_mobile.scss */
  #home {
    margin-top: 100px;
    width: 100%;
    padding-left: 0px;
  }
  /* line 265, ../sass/_mobile.scss */
  #home .row {
    width: 90%;
    margin-left: 15px;
  }
  /* line 270, ../sass/_mobile.scss */
  #home h1 {
    font-size: 31px;
    margin-top: 10px;
  }
  /* line 274, ../sass/_mobile.scss */
  #home h3 {
    font-size: 11px;
    margin: 16px 0 0 3px;
  }
  /* line 278, ../sass/_mobile.scss */
  #home p {
    font-size: 12px;
  }
  /* line 283, ../sass/_mobile.scss */
  #home .logo {
    font-size: 21px;
    margin: 0 0 0px 1px;
  }
  /* line 286, ../sass/_mobile.scss */
  #home .logo .tm {
    font-size: 10px;
    line-height: 10px;
  }
  /* line 292, ../sass/_mobile.scss */
  #home .top-body {
    margin-top: 0px;
  }

  /* line 298, ../sass/_mobile.scss */
  #brand {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  /* line 302, ../sass/_mobile.scss */
  #brand h3 {
    margin: 0px;
  }
  /* line 306, ../sass/_mobile.scss */
  #brand .brands-shots h3 {
    margin-bottom: 14px;
    letter-spacing: initial;
  }
  /* line 310, ../sass/_mobile.scss */
  #brand .brands-shots h4 {
    font-size: 8px;
    /*text-transform: uppercase;*/
  }
  /* line 316, ../sass/_mobile.scss */
  #brand .brands-shots .cherry .brand-fruit {
    width: 60px;
    height: 70px;
  }
  /* line 322, ../sass/_mobile.scss */
  #brand .brands-shots .lemon .brand-fruit {
    width: 60px;
    height: 70px;
  }
  /* line 328, ../sass/_mobile.scss */
  #brand .brands-shots .lime .brand-fruit {
    width: 60px;
    height: 70px;
  }
  /* line 334, ../sass/_mobile.scss */
  #brand .brands-shots .raspberry .brand-fruit {
    width: 60px;
    height: 70px;
  }
  /* line 340, ../sass/_mobile.scss */
  #brand .brands-shots .strawberry .brand-fruit {
    width: 60px;
    height: 70px;
  }
  /* line 346, ../sass/_mobile.scss */
  #brand .brands-shots .vanilla .brand-fruit {
    width: 76px;
    height: 53px;
  }
  /* line 352, ../sass/_mobile.scss */
  #brand .brands-shots .brand-fruit-container {
    height: 70px;
  }

  /* line 360, ../sass/_mobile.scss */
  #mixes .mixes-container {
    padding: 20px 0px 20px;
  }
  /* line 364, ../sass/_mobile.scss */
  #mixes .mixes-container .mixes-container {
    padding: 0px;
  }
  /* line 368, ../sass/_mobile.scss */
  #mixes .mixes-container .mixes-container .row {
    margin-bottom: 20px;
  }
  /* line 372, ../sass/_mobile.scss */
  #mixes .mixes-container .mixes-container .brand-img {
    height: 150px;
  }
  /* line 376, ../sass/_mobile.scss */
  #mixes .mixes-container .mixes-container .brand-img img {
    height: 80%;
  }

  /* line 388, ../sass/_mobile.scss */
  #gallery #spire-carousel .spire-carousel-left .gallery-arrow, #gallery #spire-carousel .spire-carousel-right .gallery-arrow {
    display: block;
  }

  /* line 396, ../sass/_mobile.scss */
  #footer {
    text-align: center;
    padding: 20px 0;
  }
  /* line 400, ../sass/_mobile.scss */
  #footer h4 {
    font-size: 8px;
  }
  /* line 405, ../sass/_mobile.scss */
  #footer .footer-links {
    font-family: "BoosterBold";
    margin: 0px auto;
  }
  /* line 409, ../sass/_mobile.scss */
  #footer .footer-links a {
    display: inline-block;
    color: #1072e7;
    text-decoration: none;
    margin: 0px 7px;
    font-size: 8px;
  }
  /* line 416, ../sass/_mobile.scss */
  #footer .footer-links a:hover {
    text-decoration: underline;
  }
  /* line 421, ../sass/_mobile.scss */
  #footer .footer-links .spacer {
    display: inline-block;
    color: #dcdcdc;
    font-size: 8px;
  }

  /* line 430, ../sass/_mobile.scss */
  #map-canvas {
    height: 400px;
  }

  /* line 435, ../sass/_mobile.scss */
  .legal__wrapper h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  /* line 440, ../sass/_mobile.scss */
  .legal__wrapper h4 {
    font-size: 9px;
  }
  /* line 444, ../sass/_mobile.scss */
  .legal__wrapper p, .legal__wrapper a {
    font-size: 7px;
  }
  /* line 448, ../sass/_mobile.scss */
  .legal__wrapper li {
    font-size: 7px;
    line-height: 13px;
  }
  /* line 453, ../sass/_mobile.scss */
  .legal__wrapper .legal__close {
    background: url(../../assets/images/icons/terms-close.png) center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 0px auto 30px;
    display: block;
    cursor: pointer;
  }
  /* line 464, ../sass/_mobile.scss */
  .legal__wrapper .legal__header a {
    font-size: 10px;
    margin: 0px 6px;
  }
  /* line 472, ../sass/_mobile.scss */
  .legal__wrapper .legal__body .legal__intro {
    padding: 0px 0px 12px;
  }
  /* line 475, ../sass/_mobile.scss */
  .legal__wrapper .legal__body .legal__intro p {
    font-size: 8px;
  }
  /* line 481, ../sass/_mobile.scss */
  .legal__wrapper .legal__body b.c-1 {
    width: 10px;
    height: 11px;
    background: url(../../assets/images/icons/terms-number-bg.png) no-repeat center;
    background-size: contain;
    line-height: 11px;
    padding: 2px 4px 2px 5px;
    color: #fff;
    font-family: "BoosterBold";
    font-size: 8px;
    text-align: center;
    letter-spacing: -0.05em;
    margin-right: 2px;
  }

  /* line 499, ../sass/_mobile.scss */
  #footer, #find {
    background-color: #fff;
  }

  /* line 503, ../sass/_mobile.scss */
  .find-listMobile {
    display: block;
  }

  /* line 507, ../sass/_mobile.scss */
  .find-listContainer {
    display: none;
  }

  /* line 511, ../sass/_mobile.scss */
  #map-canvas {
    display: none;
  }

  /* line 516, ../sass/_mobile.scss */
  .find-title {
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    height: initial;
    padding: 30px 0;
    margin: 0 30px;
  }

  /* line 526, ../sass/_mobile.scss */
  .find-subTitle--mobile {
    display: block;
  }

  /* line 530, ../sass/_mobile.scss */
  .find-subTitle--desktop {
    display: none;
  }
}
